body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

p {
    color: #333;
}

.person {
    display: inline-block;
    width: 220px;
    margin: 15px;
    padding: 15px;
    background-color: white;
    border: 2px solid #444;
}

.person h3 {
    margin-bottom: 5px;
}

.person p {
    font-size: 14px;
}
