body {
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
    margin: 0;
}

/* Main content box */
.container {
    width: 70%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border: 2px solid black;
}

/* Title */
h1 {
    text-align: center;
}

/* Paragraph */
p {
    text-align: center;
    font-size: 16px;
}

footer {
    background-color: Grey;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
}
footer a:hover {
    text-decoration: underline;
}

.about-container {
    margin-top: 40px;
}

.person {
    display: inline-block;
    width: 28%;
    vertical-align: top;
    background-color: white;
    padding: 15px;
    margin: 10px;
    border: 2px solid black;
    text-align: left;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}
